body {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

div#header {
    background-size: 1024px 150px;
    height: 150px;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}


div#tableview {
    width: 300px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

div#addcentrediv {
    width: 300px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

div#loginform {
    width: 300px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

div#showbookings {
    width: 300px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

div#makebookings {
    width: 300px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

div#nextavaildate {
    width: 300px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

div#tableresults {
    width: 300px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
    white-space: nowrap;
}

