@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using Website_Frontend.Models;
    @model IEnumerable<Centre>;
}


<div id="tableview">
    <label for="centreName">Centre Name:</label>
    <input type="text" id="centreName" name="centreName"><br><br>
    <input type="submit" value="Search Centres" onclick="matchingCentres()">
    <ul id="matchingCentresList"></ul>
</div>

<script>

    function matchingCentres() {
        let list = document.getElementById('matchingCentresList');
        let centreName = document.getElementById('centreName').value;
        $.ajax({
            type: "get",
            url: "/searchcentres/searchallcentres/",
            data: "searchValue="+centreName,
            success: function(data) {
                data.foreach((item) => {
                    let li = document.createElement("li");
                    li.innerText = item.Name;
                    list.appendChild(li);
                })
            },
            error: function(jqXhr, textStatus, errorThrown) {
                alert("Error: No matching centres found!");
            }

        });
    }

</script>