@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>DC Assignment 2 - Part A</h2>
<br>
<br>
<input type="button" id="adminLoginBtn" value="Admin Login" onclick="adminLoginPage()">
<input type="button" id="centreListBtn" value="Centre List" onclick="centreListPage()">
<input type="button" id="searchCentresBtn" value="Search Centres" onclick="searchCentresPage()">
<input type="button" id="makeBookingsBtn" value="Book A Centre" onclick="makeBookingsPage()">
<input type="button" id="nextAvailableDateBtn" value="Get Next Available Date" onclick="nextAvailableDataPage()">
<br>
<br>
<br>
<br>
<input type="hidden" id="adminShowBookingsBtn" value="Admin - Show Bookings" onclick="adminShowBookings()">
<input type="hidden" id="adminCentreListBtn" value="Admin - Centre List" onclick="adminCentreListPage()">
<input type="hidden" id="addCentreBtn" value="Admin - Add Centre" onclick="addCentrePage()">
    
<div id="functionalityDiv"></div>

<div id="searchResultsDiv"></div>



<script>


    function adminLoginPage() {
        $.ajax({
            url: "/adminlogin/index"
        }).done(function(data) {
            $("#functionalityDiv").html(data);
        });
    }

    function centreListPage() {
        $.ajax({
            url: "/centrelist/index"
        }).done(function(data) {
            $("#functionalityDiv").html(data);
        });
    }

    function addCentrePage() {
        $.ajax({
            url: "/addcentre/index"
        }).done(function(data) {
            $("#functionalityDiv").html(data);
        });
    }

    function adminCentreListPage() {
        $.ajax({
            url: "/admincentrelist/index"
        }).done(function(data) {
            $("#functionalityDiv").html(data);
        });
    }

    function searchCentresPage() {
        $.ajax({
            url: "/searchcentres/index"
        }).done(function(data) {
            $("#functionalityDiv").html(data);
        });
    }

    function adminShowBookings() {
        $.ajax({
            url: "/adminshowbookings/index"
        }).done(function(data) {
            $("#functionalityDiv").html(data);
        });
    }

    function makeBookingsPage() {
        $.ajax({
            url: "/makebookings/index"
        }).done(function(data) {
            $("#functionalityDiv").html(data);
        });
    }

    function nextAvailableDataPage() {
        $.ajax({
            url: "/nextavailabledate/index"
        }).done(function(data) {
            $("#functionalityDiv").html(data);
        });
    }



    function login() {
        let usernameInput = document.getElementById('username').value;
        let passwordInput = document.getElementById('password').value;
        let centreListBtn = document.getElementById('adminCentreListBtn');
        let addCentreBtn = document.getElementById('addCentreBtn');
        let showBookingsBtn = document.getElementById('adminShowBookingsBtn');


        var login = "fail";

        if ((usernameInput == "admin") && (passwordInput == "adminpass")) {
            login = "pass";
        } else {
            admin = "fail";
        }

        $.ajax({
            type: 'get',
            url: '/adminlogin/adminlogin/',
            data: "login="+JSON.stringify(login),
            contentType: 'application/json',
            processData: false,
            success: function(data, textStatus, jQxhr) {
                centreListBtn.type = "submit";
                addCentreBtn.type = "submit";
                showBookingsBtn.type = "submit"
                alert("Admin Login Successful");
            },
            error: function(xhr, textStatus, error) {
                var errorText = JSON.stringify(xhr);
                var myText = JSON.parse(errorText);

                centreListBtn.type = "hidden";
                addCentreBtn.type = "hidden";
                showBookingsBtn.type = "hidden"

                alert(myText.responseText);

                console.log(xhr.statusText);
                console.log(textStatus.toString());
                console.log(error.toString());
            }
        });

    }

</script>

