@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using Website_Frontend.Models;
    @model Website_Frontend.Models.Centre;
}

<div id="showbookings">
    <h2>Show Centre Bookings - Admin</h2>
    <br>
    <br>
    <br>
    <br>
    <select id="centreSelect" asp-for="Id" asp-items="@(new SelectList(@ViewBag.Centres,"Id","Name"))" onchange="createBookingsTable()"></select>
    
</div>

<div id="tableresults">
    <table id="bookingsTable"></table>
</div>

<script>

    function createBookingsTable() {
        let centreSelect = document.getElementById('centreSelect');
        let bookingsTable = document.getElementById('bookingsTable');

        while (bookingsTable.rows.length > 0) {
            bookingsTable.deleteRow(0);
        }

        $.ajax({
            type: "get",
            url: "/adminshowbookings/getbookings/",
            data: "centreName="+centreSelect.options[centreSelect.selectedIndex].text,
            contentType: 'application/json',
            success: function(data) {
                console.log(data);
                data = JSON.parse(data);

                for (booking of data) {
                    var row = document.createElement('tr');
                    for (val of Object.values(booking)) {
                        var col = document.createElement('td');
                        col.textContent = val;
                        row.appendChild(col);
                    }
                    bookingsTable.appendChild(row);
                }
                var headers = ["ID", "Centre Name", "Start Date", "End Date", "Booked By"];
                var header = bookingsTable.createTHead();
                var headerRow = header.insertRow(0);
                for (var i = 0; i < headers.length; i++) {
                    headerRow.insertCell(i).innerHTML = headers[i];
                }
            },
            error: function(xhr, textStatus, error) {
                var errorText = JSON.stringify(xhr);
                var myText = JSON.parse(errorText);

                alert(myText.responseText);

                console.log(xhr.statusText);
                console.log(textStatus.toString());
                console.log(error.toString());
            }

        });
    }


</script>